
@{
    ViewBag.Title = "BookingCheckout";
}

<h2>Booking Checkout</h2>

<div class="container">
    <div class="row" style="padding-top: 2.5%">
        <div class="col-sm-5"><label for="FirstName" style="width: 85px">First name:</label><input name="FirstName" type="text" value="" id="FirstName"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row" style="padding-top: 2.5%">
        <div class="col-sm-5"><label for="LastName" style="width: 85px">Last name:</label><input name="LastName" type="text" value="" id="LastName"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row" style="padding-top: 2.5%">
        <div class="col-sm-5"><label for="Email" style="width: 85px">Email:</label><input name="Email" type="text" value="" id="Email"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row" style="padding-top: 2.5%">
        <div class="col-sm-5"><label for="Telephone" style="width: 85px">Phone:</label><input name="Telephone" type="text" value="" id="Telephone"></div>
        <div class="col-sm-1"></div>
        <div class="col-sm-6"></div>
    </div>
    <div class="row" style="padding-top: 2.5%">
       
        <div class="col-sm-2"><div class="btn btn-success">Confirm</div></div>
        <div class="col-sm-10"></div>
    </div>

</div>

