@model List<BookingApp.Entities.Room>

<head>
    <link href="~/Content/tableroomsavailable.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("CustomerInformation", "Booking"))
    { 
    <div class="container">
        <div class="row">
            <section class="content">
                <h1>Rooms available</h1>
                <div class="col-md-8 col-md-offset-2">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="table-container">
                                <table class="table table-filter">
                                    <tbody>
                                        @foreach (var r in Model)
                                        {
                                        <tr>
                                            <td>
                                                <div class="ckbox">
                                                    <input type="checkbox" name="ids" value="@r.Id">
                                                </div>
                                            </td>
                                            <td >
                                                <div>
                                                    <div class="pull-left">
                                                        <img src="http://www.dangleterre.com/uploads/images/PanelImages/General/test_room.jpg" style="height:160px; width:240px">
                                                    </div>
                                                    
                                                </div>
                                               
                                            </td>
                                            <td>
                                                <div >
                                                    <h4 class="title">
                                                        @r.Name
                                                    </h4>
                                                    <p class="summary">@r.Description</p>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                            }
                                    </tbody>
                                </table>
                                <input type="submit" class="btn btn-success" value="Move on bitch" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>
    </div>
    }
</body>