@model List<DLL.Entities.Room>

<h2>Search</h2>

@{ 
    if (Model.Count == 0)
    {
        <p>No available rooms</p>
    }
    else
    {
        <table class="table">
            @foreach (var room in Model)
            {
                <tr>
                    <td>Id: @room.Id Name: @room.Name </td>
                    <td>Id: @room.Description </td>
                </tr>
            }
        </table>
    }

}

