@model BookingApp.Models.BookingIndexViewModel
@using Newtonsoft.Json
@{
    ViewBag.Title = "Choose dates";
}
<head>
    <link href="~/Content/StylesheetIndexBooking.css" rel="stylesheet" />
</head>
<br/>
<br/>

<div class="progress">
    <div class="circle active">
        <span class="label">1</span>
        <span class="title">Personal</span>
    </div>
    <span class="bar half"></span>
    <div class="circle">
        <span class="label">2</span>
        <span class="title">Address</span>
    </div>
    <span class="bar"></span>
    <div class="circle">
        <span class="label">3</span>
        <span class="title">Payment</span>
    </div>
    <span class="bar"></span>
    <div class="circle">
        <span class="label">4</span>
        <span class="title">Review</span>
    </div>
    <span class="bar"></span>
    <div class="circle">
        <span class="label">5</span>
        <span class="title">Finish</span>
    </div>
</div>

<h2>Choose dates</h2>


@using (Html.BeginForm("RoomsAvailable", "Booking"))
{
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <p class="col-md-2 col-sm-2 col-xs-4">Start Dato:</p>
                <input type="text" id="datepickerInput" class="col-xs-4 col-sm-4 col-md-2" name="from">
            </div>
            <div class="row">
                <p class="col-md-2 col-sm-2 col-xs-4">Slut Dato:</p>
                <input type="text" id="datepickerInput2" class="col-xs-4 col-sm-4 col-md-2" name="to">
            </div>  
            <div class="row">
                <div style="padding-left: 10px">
                     <input type="submit" class="btn btn-success" value="Search" />
                </div> 
            </div>
        </div>
    </div>
}



<script>

    function convertDate(unformattedDate) {
        var dateString = unformattedDate.substr(6);
        var currentTime = new Date(parseInt(dateString ));
        var month = currentTime.getMonth() + 1;
        var day = currentTime.getDate();
        var year = currentTime.getFullYear();
        var date = year + "/" + month + "/" + day;
        return date;
    };

    $(document).ready(function () {

           var dateArray = [];
            var data = @Html.Raw(Json.Encode(Model.UnavailableDates));

                for(var key in data)
                {
                    if (data.hasOwnProperty(key)) {
                        var thedate = convertDate(data[key]);
                        var newDate = new Date(thedate);
                        dateArray.push($.datepicker.formatDate('yy-mm-dd', newDate));
                    }
                }

            $("#datepickerInput").datepicker({
                dateFormat: "dd-mm-yy",
                monthNames: ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"],
                showOtherMonths: true,
                showWeek: "W",
                weekHeader: "#",
                minDate: 0,
                beforeShowDay: lollern
            });

            $("#datepickerInput2").datepicker({
                dateFormat: "dd-mm-yy",
                monthNames: ["Januar", "Februar", "Marts", "April", "Maj", "Juni", "Juli", "August", "September", "Oktober", "November", "December"],
                showOtherMonths: true,
                showWeek: "W",
                weekHeader: "#",
                minDate: 0,
                beforeShowDay: lollern
            });

           

            function lollern (date) {
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [dateArray.indexOf(string) == -1]
            }






    });
</script>