@model BookingApp.Models.HomeBookingViewModel
@{
    ViewBag.Title = "ShoppingCart";
}
<body>
    <table class="table">
        <tbody>
      

            <tr>
                <td>@Model.boo.Customer.FirstName</td>
               
            </tr>

        </tbody>
    </table>
</body>