@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Sandvedhus Bed & Breakfast <br />
    Helletvej 97, Rødding <br />
    Phone: 88 88 88 88 <br/>
    <strong>Mail:</strong>   <a href="mailto:ag-mam@live.dk">Husk at skifte mail</a><br />
</address>

